extends ../layout

block content
	section.wrapper
		h1= title
			span
				a(href='/languages/new').button.small.small-margin-left Neue Sprache
		
		if languages.length == 0
			div Keine Sprache vorhanden
		
		ul.list
			each language in languages
				li= language.name
					if language.main
						span  (ausgewählt)
					span
						a(href='/languages/edit/' + language.id).small-margin-left ändern
						a(href='/languages/delete/' + language.id).small-margin-left löschen
			