extends ../layout

block content
	section.wrapper
		h1= title
		form(method="post")
			div.row
				p.small Name
				input(name="name")
			
			h2 Vokabeln
			table.col-3#vocabularies
				tr
					th Chinesisch
					th Pinyin
					th Deutsch
					th
			
			a.add-row Zeile hinzufügen
			
			
			button(submit="submit") Speichern
	
	script(src="https://code.jquery.com/jquery-3.3.1.min.js")
	script(src="../javascripts/vocabularies.js")
