extends layout

block content
	section.wrapper.small
		h1 #{title}
		if errorMessage
			div.alert.danger= errorMessage
		form(method='post')
			div.row
				p.small E-Mail
				input(name='email')
			
			div.row
				p.small Passwort
				input(name='password' type='password')
				
			button(submit='submit') Anmelden
