body {
	margin: 0px;
	padding: 0px;
	font: 14px "Open Sans", Helvetica, Arial, sans-serif;
	color: #2B323B;
	background-color: #fafafa;
}

a {
	color: #D00000;
	cursor: pointer;
}

p {
	margin: 0px 0px 8px;
}

p.small {
	margin: 0px 0px 6px;
}

hr {
	padding: 0px;
	margin: 16px 0px;
	border: none;
	border-bottom: 1px solid #dddddd;
}

hr:last-child {
	border: none;
	margin: 0px;
}

.float-left {
	float: left;
}

.small-margin-left {
	margin-left: 6px !important;
}

div.row {
	margin-bottom: 16px;
}

button, a.button {
	display: block;
	background-color: #D00000;
	border-radius: 3px;
	padding: 12px;
	margin: 0px;
	font-size: 14px;
	border: 0px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

button.small, a.button.small {
	padding: 6px;
	font-size: 12px;
}

a.button {
	display: inline-block;
}

button:hover, a.button:hover {
	background-color: #ba0000;
}

input {
	border-radius: 3px;
	padding: 12px;
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	font-size: 14px;
}

input:focus, input:hover {
	border: 1px solid #ccc;
}



.alert {
	padding: 12px;
	margin-bottom: 16px;
	border-radius: 3px;
	border-width: 1px;
}

.danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}



.wrapper {
	margin: 0px auto;
	padding: 25px;
	width: 800px;
	position: relative;
}

.wrapper.small {
	width: 360px;
}

header {
	background-color: #2B323B;
}

#header-border {
	height: 2px;
	background-color: #D00000;
	background-image: linear-gradient(to right, #D00000, #EF6C00);
}

.clear {
	clear: both;
}

#page-title {
	float: left;
	line-height: 40px;
	color: #fff;
	font-size: 24px;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	float: left;
	padding-left: 10px;
	line-height: 40px;
}

nav ul li a {
	text-transform: uppercase;
	padding: 12px;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
}

nav ul li a:hover, nav ul li a.active {
	background-color: #D00000;
	color: #fff;
}

main {
	margin: 30px 0px;
}

section {
	background: #f2f2f2;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.075);
}

h1, h2 {
	margin-top: 0px;
	margin-bottom: 16px;
	font-weight: 500;
}

h1 span, h2 span {
	font-size: 12px;
}

h1 {
	font-size: 24px;
}

h2 {
	margin-top: 24px;
	font-size: 20px;
}

p:last-child {
	margin-bottom: 0px;
}



/* TABLE */

table {
	width: 100%;
	margin-bottom: 16px;
	border-collapse: collapse;
}

table:last-child {
	margin-bottom: 0px;
}

tr {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

th {
}

td, th {
	padding: 8px;
	white-space: nowrap;
}

td.no-padding, th.no-padding {
	padding: 0px;
}

table.with-border td {
	border: 1px solid #ccc;
}

table.col-3 td, table.col-3 th {
	width: 33.33%;
}

/* STATUS ACTIONS */

.actions-container {
	width: 126px;
}

.actions {
	float: left;
	width: 60px;
}

.actions:last-child {
	margin-left: 6px;
}

.actions .action {
	float: left;
	padding: 0px;
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-size: 8px;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.2;
}

.actions .set-status.set-0 { background-color: #f42424; background-image: url('../images/icons/close.png'); }
.actions .set-status.set-1 { background-color: #2bce2d; background-image: url('../images/icons/tick.png'); }
.actions .toggle-mark { background-color: #edaf1b; background-image: url('../images/icons/warning.png'); }

.actions .action.active {
	opacity: 1;
}

.actions .set-status.set-0 {
	border-radius: 3px 0px 0px 3px !important;
}

.actions .set-status.set-1 {
	border-radius: 0px !important;
	border-top: none;
	border-bottom: none;
}

.actions .toggle-mark {
	border-radius: 0px 3px 3px 0px !important;
}