body {
	margin: 0px;
	padding: 0px;
	font: 14px "Open Sans", Helvetica, Arial, sans-serif;
	color: #2B323B;
	background-color: #fafafa;
}

a {
	color: #D00000;
	cursor: pointer;
}

p {
	margin: 0px 0px 8px;
}

p.small {
	margin: 0px 0px 6px;
}

hr {
	padding: 0px;
	margin: 16px 0px;
	border: none;
	border-bottom: 1px solid #dddddd;
}

hr:last-child {
	border: none;
	margin: 0px;
}

.float-left {
	float: left;
}

.small-margin-left {
	margin-left: 6px !important;
}

div.row {
	margin-bottom: 16px;
}

button, a.button {
	display: block;
	background-color: #D00000;
	border-radius: 3px;
	padding: 12px;
	margin: 0px;
	font-size: 14px;
	border: 0px;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

button.small, a.button.small {
	padding: 6px;
	font-size: 12px;
}

a.button {
	display: inline-block;
}

button:hover, a.button:hover {
	background-color: #ba0000;
}

input {
	border-radius: 3px;
	padding: 12px;
	margin: 0px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	font-size: 14px;
}

input:focus, input:hover {
	border: 1px solid #ccc;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
	margin-right: 6px;
}



.alert {
	padding: 12px;
	margin-bottom: 16px;
	border-radius: 3px;
	border-width: 1px;
}

.danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}



.wrapper {
	margin: 0px auto;
	padding: 25px;
	width: 800px;
	position: relative;
}

.wrapper.small {
	width: 360px;
}

header {
	background-color: #2B323B;
}

#header-border {
	height: 2px;
	background-color: #D00000;
	background-image: linear-gradient(to right, #D00000, #EF6C00);
}

.clear {
	clear: both;
}

#page-title {
	float: left;
	line-height: 40px;
	color: #fff;
	font-size: 24px;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	float: left;
	padding-left: 10px;
	line-height: 40px;
}

nav ul li a {
	text-transform: uppercase;
	padding: 12px;
	border-radius: 3px;
	text-decoration: none;
	color: #fff;
}

nav ul li a:hover, nav ul li a.active {
	background-color: #D00000;
	color: #fff;
}

main {
	margin: 30px 0px;
}

section {
	background: #f2f2f2;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.075);
}

section.no-bg {
	background: none;
	border: none;
}

h1, h2 {
	margin-top: 0px;
	margin-bottom: 16px;
	font-weight: 500;
}

h1 span, h2 span {
	font-size: 12px;
}

h1 {
	font-size: 24px;
}

h2 {
	margin-top: 24px;
	font-size: 20px;
}

p:last-child {
	margin-bottom: 0px;
}



/* TABLE */

table {
	width: 100%;
	margin-bottom: 16px;
	border-collapse: collapse;
}

table:last-child {
	margin-bottom: 0px;
}

tr {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

th {
}

td, th {
	padding: 8px;
	white-space: nowrap;
}

td.no-padding, th.no-padding {
	padding: 0px;
}

table.with-border td {
	border: 1px solid #ccc;
}

table.col-3 td, table.col-3 th {
	width: 33.33%;
}


/* ACTIONS IN LESSONS */

.lesson-actions-container {
	width: 126px;
}

.lesson-actions-container .actions {
	float: left;
	width: 60px;
}

.lesson-actions-container .actions:last-child {
	margin-left: 6px;
}

.lesson-actions-container .action {
	float: left;
	padding: 0px;
	width: 20px;
	height: 20px;
	background-color: transparent;
	background-size: 8px;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.2;
}

.lesson-actions-container .action.set-status.set-0 { background-color: #f42424; background-image: url('../images/icons/close.png'); }
.lesson-actions-container .action.set-status.set-1 { background-color: #2bce2d; background-image: url('../images/icons/tick.png'); }
.lesson-actions-container .action.toggle-mark { background-color: #edaf1b; background-image: url('../images/icons/warning.png'); }

.lesson-actions-container .action.active {
	opacity: 1;
}

.lesson-actions-container .set-status.set-0 {
	border-radius: 3px 0px 0px 3px !important;
}

.lesson-actions-container .set-status.set-1 {
	border-radius: 0px !important;
	border-top: none;
	border-bottom: none;
}

.lesson-actions-container .toggle-mark {
	border-radius: 0px 3px 3px 0px !important;
}


/* ACTIONS IN LEARN PROCESS */

.learn-actions-container {
	text-align: center;
}

.learn-actions-container .actions {
	display: inline-block;
	text-align: center;
	background: #ffffff;
	border-radius: 12px;
	
	box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.05);
	border: 1px solid #ddd;
}

.learn-actions-container .action {
	float: left;
	height: 50px;
	min-width: 50px;
	line-height: 50px;
	padding: 0px 16px;
	border-right: 1px solid #ddd;
	cursor: pointer;
}

.learn-actions-container .action.show-translation {
	border-radius: 12px 0px 0px 12px;
}

.learn-actions-container .action:hover {
	background-color: #f8f8f8;
}

.learn-actions-container .action.set-status, .learn-actions-container .action.toggle-mark {
	padding: 0px;
	width: 50px;
	border-radius: 0px;
	background-size: 12px;
	background-repeat: no-repeat;
	background-position: center center;
	opacity: 0.2;
	border: none;
}

.learn-actions-container .action.toggle-mark {
	border-radius: 0px 12px 12px 0px
}

.learn-actions-container .action.set-status:hover, .learn-actions-container .action.toggle-mark:hover, .learn-actions-container .action.toggle-mark.active {
	opacity: 1;
}

.learn-actions-container .action.set-status.set-0 { background-color: #f42424; background-image: url('../images/icons/close.png'); }
.learn-actions-container .action.set-status.set-1 { background-color: #2bce2d; background-image: url('../images/icons/tick.png'); }
.learn-actions-container .action.toggle-mark { background-color: #edaf1b; background-image: url('../images/icons/warning.png'); }


/* FLASH CARDS */

.progress {
	text-align: center;
	color: #aaa;
	font-size: 12px;
	margin-bottom: 24px;
}

.flash-cards-container {
	width: 80%;
	margin: 0px auto;
	position: relative;
	margin-bottom: 24px;
}

.flash-card {
	float: left;
	width: 49%;
	height: 240px;
	text-align: center;
	vertical-align: middle;
	background: #ffffff;
	border-radius: 12px;
	box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.05);
	border: 1px solid #ddd;
	font-size: 24px;
	position: relative;
	box-sizing: border-box;
}

.flash-card-seperator {
	float: left;
	width: 2%;
	height: 240px;
}

.flash-card input {
	height: 35%;
	background: none;
	border: none;
	outline-width: 0;
	outline: none;
	text-align: center;
	font-size: 24px;
	display: block;
}

.flash-card input.solution {
	height: 15% !important;
	font-size: 10px;
	padding-top: 0px;
	display: none;
}

.flash-card input.solution.show {
	display: block;
}

.flash-card .line {
	height: 1px;
	width: 100%;
	background-color: #ddd;
}

.flash-cards-container.foreign-native .flash-card.first input { height: 50%; }
.flash-cards-container.foreign-native .flash-card.first input.editable { height: 50%; }
.flash-cards-container.foreign-native .flash-card.first input.solution { position: absolute; bottom: 0px; }
.flash-cards-container.foreign-native .flash-card.second input.editable { height: 100%; }
.flash-cards-container.foreign-native .flash-card.second input.solution { position: absolute; bottom: 0px; }

.flash-cards-container.native-foreign .flash-card.first input { height: 100%; }
.flash-cards-container.native-foreign .flash-card.second input.editable { height: 50%; }
.flash-cards-container.native-foreign .flash-card.second input.solution.first { position: absolute; bottom: 50%; }
.flash-cards-container.native-foreign .flash-card.second input.solution.second { position: absolute; bottom: 0px; }

